@using Loyalti.Helpers
@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "ListBrands";
    Layout = "~/Views/Shared/_LayoutForDashboard.cshtml";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">List Brands</h1>
                <span id="messageLoader" class="text-problem col-sm-1" style="display:none; ">No Data</span>
                <div class="loader"></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row" style="padding-top: 10px;">
            <section class="panel panel-default brand-list-section" ng-app="app" ng-controller="controller" ng-init="init()">
                <header></header>
                <section class=" table-responsive">
                    <table id="brandTable" class="table table-hover list-table ng-cloak">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    Brand Name
                                </th>
                                <th>
                                    Brand Description
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="fadeout">
                            
                            <tr dir-paginate="brandList in jsonLists | itemsPerPage: pageSize " total-items="totalItem" current-page="currentPage">
                                
                                <td class="brand-number-row">{{currentNumber+$index}}</td>
                                <td class="brand-name">{{brandList.BrandName}}</td>
                                <td class="brand-description">{{brandList.BrandDescription}}</td>
                                <td class="brand-action">
                                    <nav class="btn-group pull-right" role="group" aria-label="...">
                                        <a href='@HttpUtility.UrlDecode(Url.Action("EditBrand", "Dashboard", new { id = "{{brandList.BrandId}}" }))' type="button" class="btn btn-default btn-blue">
                                            <i class="fa fa-pencil" aria-hidden="true" style=""></i>
                                        </a>
                                        <a href='@HttpUtility.UrlDecode(Url.Action("DeleteBrand", "Dashboard", new { id = "{{brandList.BrandId}}" }))' type="button" class="btn btn-default btn-red ">
                                            <i class="fa fa-trash" aria-hidden="true" style=""></i>
                                        </a>
                                    </nav>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </section>
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="" template-url="~/Assets/js/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </section>
        </div>


    </div>

    <!-- /#page-wrapper -->
</div>

@*@Html.Partial("_DeleteDialog")*@



@section AdditionalJavascript {
    
}

@using (Html.BeginScripts())
{
    <script src="~/Assets/js/global-tabling-json.js"></script>
    <script>
        globalTablingJson(
            '#brandTable tbody',
            ".brand-list-section",
            '/ApiCollection/GetBrandList',
            '//',
            true);
    </script>
}
