@{
    ViewBag.Title = "DashboardHome";
    Layout = "~/Views/Shared/_LayoutForDashboard.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Home</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <div class="row" ng-app="app" ng-controller="homeChart" ng-init="init()">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Total Income Chart
                        <div class="pull-right">
                            <select ng-model="ddValue" ng-options="x.value for x in optionList"
                                    ng-change="ddFunction(ddValue)">
                            </select>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <canvas class="chart chart-line" chart-data="data1" chart-colors="colors"
                                chart-labels="labels1" chart-dataset-override="datasetOverride"></canvas>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                @*<div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>10/21/2013</td>
                                                <td>3:29 PM</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td>$724.17</td>
                                            </tr>
                                            <tr>
                                                <td>3323</td>
                                                <td>10/21/2013</td>
                                                <td>3:00 PM</td>
                                                <td>$23.71</td>
                                            </tr>
                                            <tr>
                                                <td>3322</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                            <tr>
                                                <td>3321</td>
                                                <td>10/21/2013</td>
                                                <td>2:23 PM</td>
                                                <td>$245.12</td>
                                            </tr>
                                            <tr>
                                                <td>3320</td>
                                                <td>10/21/2013</td>
                                                <td>2:15 PM</td>
                                                <td>$5663.54</td>
                                            </tr>
                                            <tr>
                                                <td>3319</td>
                                                <td>10/21/2013</td>
                                                <td>2:13 PM</td>
                                                <td>$943.45</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                            <div class="col-lg-8">
                                <div id="morris-bar-chart"></div>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->*@
            </div>
            <!-- /.col-lg-6 -->
            @*<div class="col-lg-4">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                    </div>
                    <div class="panel-body">
                        <canvas class="chart chart-doughnut"
                                chart-data="data2" chart-labels="labels2"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>*@
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
@section PageJavascript {
    <script>
        angular.module("app", ["chart.js"]).controller("homeChart", function ($scope, $http) {
            
            var w = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var m = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

            $scope.copyWeekLabel = [];
            $scope.copyWeekData = [];
            $scope.copyMonthLabel = [];
            $scope.copyMonthData = [];

            
            

            $scope.labels1 = [];
            $scope.data1 = [];

            $scope.optionList = [{ id: 1, value: "Weekly" }, { id: 2, value: "Monthly" }];
            $scope.ddValue = $scope.optionList[0];

            $scope.colors = ['#45b7cd', '#ff6384', '#ff8e72'];
            
            $scope.datasetOverride = [

                {
                    label: "Total Income",
                    borderWidth: 3,
                    hoverBackgroundColor: "rgba(255,99,132,0.4)",
                    hoverBorderColor: "rgba(255,99,132,1)",
                    type: 'line'
                }
            ];

            $scope.init = function () {
                $http({
                    method: "GET",
                    url: "ApiCollection/HistoryTransaction"
                }).then(function(data, status) {
                    var collectJson = JSON.parse(data.data.datajson);
                    
                    for (var i = 0; i < collectJson.length; i++) {

                        $scope.copyWeekLabel.push(w[collectJson[i].Day]);
                        $scope.copyWeekData.push(setNumbro(collectJson[i].TotalPayment));
                    }

                    $scope.labels1 = $scope.copyWeekLabel;
                    $scope.data1 = $scope.copyWeekData;
                }, function error() {

                });
            }

            $scope.ddFunction = function(action) {
                
                if (action.id == 1) {
                    $scope.data1 = $scope.copyWeekData;
                    $scope.labels1 = $scope.copyWeekLabel;
                } else {
                    if ($scope.copyMonthData.length == []) {
                        
                        $http({
                            method: "GET",
                            url: "ApiCollection/MonthHistoryTransaction"
                        }).then(function(data, status) {
                            var collectJson = JSON.parse(data.data.datajson);
                            //console.log(collectJson);

                            for (var i = 0; i < collectJson.length; i++) {

                                $scope.copyMonthLabel.push(m[collectJson[i].Month-1]);
                                $scope.copyMonthData.push(collectJson[i].TotalPayment);
                            }

                            $scope.labels1 = $scope.copyMonthLabel;
                            $scope.data1 = $scope.copyMonthData;
                            
                        }, function error() {

                        });
                    } else {
                        
                        $scope.labels1 = $scope.copyMonthLabel;
                        $scope.data1 = $scope.copyMonthData;
                    } 
                }
            }


            $scope.labels2 = ["Download Sales", "In-Store Sales", "Mail-Order Sales"];
            $scope.data2 = [300, 500, 100];
        });
    </script>
}
