@using Loyalti.Helpers
@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "ListVendors";
    Layout = "~/Views/Shared/_LayoutForDashboard.cshtml";
}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="page-header">List Vendors</h1>
                <span id="messageLoader" class="text-problem col-sm-1" style="display:none; ">No Data</span>
                <div class="loader"></div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row" style="padding-top: 10px;">
            <section class="panel panel-default vendor-list-section" ng-app="app" ng-controller="controller" ng-init="init()">
                <header></header>
                <section class=" table-responsive">
                    <table id="vendorTable" class="table table-hover list-table ng-cloak">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>
                                    Vendor Name
                                </th>
                                <th>
                                    Vendor Address
                                </th>
                                <th>
                                    Vendor Email
                                </th>
                                <th>
                                    Vendor Phone
                                </th>
                                <th>
                                    Vendor Owner
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="fadeout">
                            
                            <tr dir-paginate="vendorList in jsonLists | itemsPerPage: pageSize " total-items="totalItem" current-page="currentPage">
                                
                                <td class="vendor-number-row">{{currentNumber+$index}}</td>
                                <td class="vendor-name">{{vendorList.VendorName}}</td>
                                <td class="vendor-address">{{vendorList.VendorAddress}}</td>
                                <td class="vendor-email">{{vendorList.VendorEmail}}</td>
                                <td class="vendor-phone">{{vendorList.VendorPhone}}</td>
                                <td class="vendor-owner">{{vendorList.VendorOwner}}</td>
                                <td class="vendor-action">
                                    <nav class="btn-group pull-right" role="group" aria-label="...">
                                        <a href='@HttpUtility.UrlDecode(Url.Action("EditVendor", "Dashboard", new { id = "{{vendorList.VendorId}}" }))' type="button" class="btn btn-default btn-blue">
                                            <i class="fa fa-pencil" aria-hidden="true" style=""></i>
                                        </a>
                                        <a href='@HttpUtility.UrlDecode(Url.Action("DeleteVendor", "Dashboard", new { id = "{{vendorList.VendorId}}" }))' type="button" class="btn btn-default btn-red ">
                                            <i class="fa fa-trash" aria-hidden="true" style=""></i>
                                        </a>
                                    </nav>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </section>
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="" template-url="~/Assets/js/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </section>
        </div>


    </div>

    <!-- /#page-wrapper -->
</div>

@*@Html.Partial("_DeleteDialog")*@



@section AdditionalJavascript {
    
}

@using (Html.BeginScripts())
{
    <script src="~/Assets/js/global-tabling-json.js"></script>
    <script>
        var webroot = "@Url.Content("~/")";
        var sendUrl = '/ApiCollection/GetVendorList';

        if (webroot != "/")
            sendUrl = webroot + sendUrl;

        globalTablingJson(
            '#vendorTable tbody',
            ".vendor-list-section",
            sendUrl,
            '//',
            true);
    </script>
}
