@{
    ViewBag.Title = "DashboardHome";
    Layout = "~/Views/Shared/_LayoutForDashboard.cshtml";
}

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Home</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
        <div class="row" ng-app="app" ng-controller="homeChart" >
            <div class="col-lg-8">
                <div class="panel panel-default" ng-init="init()">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Total Income Chart
                        <div class="pull-right">
                            <select ng-model="ddValue" ng-options="x.value for x in optionList"
                                    ng-change="ddFunction(ddValue)"></select>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <canvas class="chart chart-line" chart-data="dataIncome" chart-colors="colors"
                                chart-labels="labelIncome" chart-dataset-override="datasetOverride"></canvas>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <div class="panel panel-default" ng-init="itemInit()">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Total Purchase Item
                        <div class="pull-right">
                            <select ng-model="barValue" ng-options="x.value for x in barList"
                                    ng-change="changeDataFunction(barValue)"></select>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <canvas class="chart chart-bar" chart-data="dataItem" chart-labels="labelItem"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-4">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Total Assets
                    </div>
                    <div class="panel-body">
                        <canvas class="chart chart-bar"
                                chart-data="dataTotalAsset" chart-labels="labelTotalAsset"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <div class="col-lg-4">


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                    </div>
                    <div class="panel-body">
                        <canvas class="chart chart-doughnut"
                                chart-data="data2" chart-labels="labels2"></canvas>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
@section PageJavascript {
    <script src="~/Assets/js/GraphFunction.js"></script>
    <script>
        GraphFunction();
    </script>
}
