html, body {min-height:100%; font-family: 'Roboto', sans-serif;} 

// ******************************
// general styling


.loader {
      height: 4px;
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #ddd;
      display : none;margin-bottom: 10px; border: 1px solid transparent; border-radius: 4px;
}
.loader:before{
      display: block;
      position: absolute;
      content: "";
      left: -200px;
      width: 200px;
      height: 4px;
      background-color: #0273fc;
      animation: loading 2s linear infinite;margin-bottom: 10px; border: 1px solid transparent; border-radius: 4px;
}
@keyframes loading {
        from {left: -200px; width: 30%;}
        50% {width: 30%;}
        70% {width: 70%;}
        80% { left: 50%;}
        95% {left: 120%;}
        to {left: 100%;}
}
.fadein, .fadeout {
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.fadein {
    opacity: 1;
}

body img {max-width:100%;}

// roboto thin
.roboto {font-family:'Roboto', sans-serif;}
.roboto.thin {font-weight:100;}

.btn.btn-green {background:#6cbf6c; color:#fff;
	&:hover{background:#52a552; color:#fff;}
}

.btn.btn-blue {background:#0273fc; color:#fff;
	&:hover{background:#005ac6; color:#fff;}
}

.btn.btn-red {background:#e50000; color:#fff;
	&:hover{background:#ce0000; color:#fff;}
}
.btn.btn-white-blue {background:#fff; border-color:#0273fc;color: #0273fc;
	&:hover {background:#0273fc; color:#fff;}
}
.btn.btn-white-blue.active{background: #0273fc;
	color: #fff;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	}

.popup-delete-dialog{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-ok{
    font-size: 13px;
    padding: 0.2em 0.6em 0.3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #3c763d;
}

.text-problem{
    font-size: 13px;
    padding: 0.2em 0.6em 0.3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #f0ad4e;
}

.text-danger{
    padding: .2em .6em .3em;
    //font-size: 75%;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #d9534f;    
}

.validation-summary-errors.text-danger{
    padding: 1.2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #d9534f;
    margin-bottom : 10px;
    li{margin-bottom:5px;}
}

.validation-summary-valid.text-danger{
    background-color: white;
}


.field-validation-valid.text-danger:empty{
    background-color: white;
}


// ******************************
//Dashboard Page

.dashboard-page{background:#f6f5f5; font-family:'Roboto', sans-serif; 
    // section header
    .section-header {
	    h1,h2,h3,h4 {font-weight:100;}
	    h4 {
		    font-size:20px; margin-top:25px;
	    }
    }  
    .control-label{
		font-size: 14px;
		font-weight: normal;
		margin-bottom : 10px;
	}
	.form-control{
		margin-bottom:20px;height:43px;
	}
    .list-table{
		tr{
			th{			font-size: 16px;    color: #010101;    font-weight: 100;    border-bottom: 1px solid #eee;}
			td{border:none;}
		}
	}
    .field-warning{margin-left:1%;display:none;}
    //DashboardAddItem
    .add-items-section{
        .add-items-manual{
            .items-group-list{ 
                .items-group-form{
                    .form-group:first-child{margin-top:0px; }
                    .form-group{    margin-bottom: 0px;
                        .control-label{    font-weight: bold;}
                    }
				    .form-control { margin-bottom:0px;}
                    .close-item-button{ cursor: pointer; float: right;margin-right: 18px; color: red; font-size: 20px;}
                    
                    .item-name{}
                    .item-sale-price{}
                    .item-buy-price{}
                    .item-location{}
                    .item-brand-type{}
                    .item-stock{}
                    .item-vendor{}
                }
            }
        }
        .add-new-item-form{padding-top: 15px;
			.add-item-btn{    background-color: white;padding: 13px 15px;border: 1px solid transparent;border-radius: 4px;border-color: #dddddd;position: relative;text-align: center;display: block;font-size: 18px;height: 52px;margin-bottom: 20px;
				img{margin-top:-3px;}
			}
		} 
        .add-item-input-btn{padding-top: 15px; padding-bottom: 15px;}
    }
    //DashboardAddVendor
    .add-vendors-section{
        .add-vendors-manual{
            .vendors-group-list{ 
                .vendors-group-form{
                    .form-group:first-child{margin-top:0px; }
                    .form-group{    margin-bottom: 0px;
                        .control-label{    font-weight: bold;}
                    }
				    .form-control { margin-bottom:0px;}
                    .close-vendor-button{ cursor: pointer; float: right;margin-right: 18px; color: red; font-size: 20px;}
                    .item-name{}
                    .item-sale-price{}
                    .item-buy-price{}
                    .item-location{}
                    .item-brand-type{}
                    .item-quantity{}
                    .item-vendor{}
                }
            }
        }
        .add-new-vendor-form{padding-top: 15px;
			.add-vendor-btn{    background-color: white;padding: 13px 15px;border: 1px solid transparent;border-radius: 4px;border-color: #dddddd;position: relative;text-align: center;display: block;font-size: 18px;height: 52px;margin-bottom: 20px;
				img{margin-top:-3px;}
			}
		} 
        .add-vendor-input-btn{padding-top: 15px; padding-bottom: 15px;}
    }
    //DashboardAddBrand
    .add-brands-section{
        .add-brands-manual{
            .brands-group-list{ 
                .brands-group-form{
                    .form-group:first-child{margin-top:0px; }
                    .form-group{    margin-bottom: 0px;
                        .control-label{    font-weight: bold;}
                    }
				    .form-control { margin-bottom:0px;}
                    .close-brand-button{ cursor: pointer; float: right;margin-right: 18px; color: red; font-size: 20px;}
                    .brand-name{}
                    .brand-description{}
                    .brand-category{}
                }
            }
        }
        .add-new-brand-form{padding-top: 15px;
			.add-brand-btn{    background-color: white;padding: 13px 15px;border: 1px solid transparent;border-radius: 4px;border-color: #dddddd;position: relative;text-align: center;display: block;font-size: 18px;height: 52px;margin-bottom: 20px;
				img{margin-top:-3px;}
			}
		} 
        .add-brand-input-btn{padding-top: 15px; padding-bottom: 15px;}
    }
    //add storage section
    .add-storages-section{
        .add-storages-manual{
            .storages-group-list{ 
                .storages-group-form{
                    .form-group:first-child{margin-top:0px; }
                    .form-group{    margin-bottom: 0px;
                        .control-label{    font-weight: bold;}
                    }
				    .form-control { margin-bottom:0px;}
                    .close-storage-button{ cursor: pointer; float: right;margin-right: 18px; color: red; font-size: 20px;}
                    .storage-name{}
                    .storage-description{}
                }
            }
        }
        .add-new-storage-form{padding-top: 15px;
			.add-storage-btn{    background-color: white;padding: 13px 15px;border: 1px solid transparent;border-radius: 4px;border-color: #dddddd;position: relative;text-align: center;display: block;font-size: 18px;height: 52px;margin-bottom: 20px;
				img{margin-top:-3px;}
			}
		} 
        .add-storage-input-btn{padding-top: 15px; padding-bottom: 15px;}
    }

    //shopping basket form
    .shopping-basket-form{ 
        .shopping-title{}
        .shopping-stock-empty, .shopping-exceed-stock{display:none; width: 9.333333%;}
        

        .shopping-basket{
            .basket-main-input{margin-bottom: 0;}
            .collection-item-form{margin-bottom: 0;
                .collection-item-select{background-color:white;
                    .collection-items{margin-left: 10px;
                        .control-label:first-child{margin-top: 10px;}
                    }
                    &:hover {background-color:whitesmoke;}
                }
            }    
        }

        .order-collection{ 
            .order-summary{
                .order-collection-list{cursor:default;
                    .transaction-item-quantity{cursor:pointer;}
                    .transaction-item-discount{cursor:pointer;}
                }
            }
            .order-holder{
                .panel-primary{margin-bottom:10%}
                .order-holder-body{max-height:320px; overflow:auto; text-align:right;
                    .order-holder-item{font-size: medium;}
                    .order-transaction-dsc{margin-bottom:0;
                        .order-lbl-dsc{margin-right: 5%; color: #8a6d3b;}
                        .dsc-total-transaction{display:initial; width:30%; text-align:right; margin:0;}
                    }
                }
                .order-holder-footer{text-align:right;padding-right:11%;
                    .transaction-sum{font-size: medium; margin-right:7%;}
                }
                .order-action-form{ margin-top: 3%;}
            }
        }
    }
    
    //invoice section
    .invoice-detail-form{ padding-top: 10px; color: #515151;  background-color: #FFFFFF; padding-bottom: 10px; padding-top: 10px; border-radius: 10px;
        .invoice-body{
            

            .invoice-table-header{
                .invoice-title-container{
                    padding-bottom: 10px;    padding-top: 10px;
                    .title-left{text-align: left; padding-left:2%;
                        .title-store{font-size:35px;font-weight:300;}
                    }
                    .title-right{text-align: right; padding-right:2%;
                        .title-invoice{font-size:35px;font-weight:300;color: #0076fe;}
                    }
                }
            
                .header-container{height:46px;
                    .table-header-detail-first {background-color: rgb(245,245,245); padding-left: 2%; border-style: solid; border-color: white; border-left-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-top-width: 0px;
                        .detail-title { color: #0076fe;font-size: 12px;}
                    }
                    .table-header-detail{background-color: rgb(245,245,245); padding-left: 2%; border-style: solid; border-color: white; border-left-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-top-width: 0px;
                        .detail-title { color: #0076fe;font-size: 12px;}
                    }
                }
                
            }
            .invoice-table-body{ margin-top: 20px;
                .body-title-container{background-color: rgb(245,245,245); height: 24px;
                    .th-last{
                        text-align: right;
                    }
                }
                tbody{border-bottom: solid gainsboro 1px;
                    .table-item-list{height:50px;
                        .category-number{width: 30px; padding-left: 10px;border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                        .category-item{width: 300px; padding-left: 10px;border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                        .category-price{width: 160px; padding-left: 10px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                        .category-quantity{width: 90px; padding-left: 10px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                        .category-discount-item{width: 90px; padding-left: 10px; border-top-left-radius: 3px; border-bottom-left-radius: 3px;}
                        .category-total{width: 110px; padding-right: 20px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; text-align:right;
                            span{font-weight:600;}
                        }
                        
                    }
                }
            }
            .invoice-table-footer{
                .footer-container{height:50px;
                    .footer-detail-title {color: #0076fe;font-size: 15px;font-weight: 600;text-align: right; padding-right: 20px; padding-top: 15px;}
                    .footer-detail-summary{font-size:15px;font-weight:600;text-align:right;border-left: solid whitesmoke 1px; padding-right: 20px;padding-top: 15px;}
                }
            }
        }
    }
}

