    body{    color: #515151;}
    .panel{margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);}

    .panel-default{border-color: #ddd;}

    th {
        text-align: left;
    }

    .invoice-title-container {
        padding-bottom: 10px;
        padding-top: 10px; 

    }
    .invoice-title-container .title-left {
        width:420px;  float: left;  position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 30px;
        text-align: left;
    }
    .invoice-title-container .title-right {
        text-align: right;
        width:460px;  
        float: left;  
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        
    }
    
     .invoice-body .title-store {
      font-size: 35px; 
      font-weight: 300; }
     .invoice-body .title-invoice {
          font-size: 35px;
          font-weight: 300;
          color: #0076fe; }
     
     .invoice-body table {
         width: 100%;
        max-width: 100%;margin-bottom: 0;    border-spacing: 0;
    border-collapse: collapse;background-color: transparent;
     }
     
     .invoice-body .invoice-table-header .header-container {
        height: 46px;
     }
     .invoice-body .invoice-table-header .header-container .table-header-detail-first {
         width:450px;
          background-color: whitesmoke;
          padding-left: 20px;
          border-style: solid;
          border-color: white;
          border-left-width: 0px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          border-top-width: 0px; }

     .invoice-body .invoice-table-header .header-container .table-header-detail {
         width:480px;  

          background-color: whitesmoke;
          padding-left: 20px;
          border-style: solid;
          border-color: white;
          border-left-width: 0px;
          border-right-width: 0px;
          border-bottom-width: 1px;
          border-top-width: 0px; }

     .invoice-body .invoice-table-header .header-container .table-header-detail-first .detail-title {
        color: #0076fe;
        font-size: 12px; }

     .invoice-body .invoice-table-header .header-container .table-header-detail .detail-title {
        color: #0076fe;
        font-size: 12px; }




     .invoice-body .invoice-table-body {
      margin-top: 20px; }

        .invoice-body .invoice-table-body .body-title-container {
            background-color: rgb(245,245,245);
            height: 24px;
        }
        .invoice-body .invoice-table-body .body-title-container th{
            padding: 8px;
            vertical-align: bottom;
            border-bottom: 2px solid #ddd;
            border-top: 0;
        }
        .invoice-body .invoice-table-body .body-title-container .th-last{ text-align: right;}

        
       .invoice-body .invoice-table-body tbody {
        border-bottom: solid gainsboro 1px; }


         .invoice-body .invoice-table-body tbody .table-item-list {
          height: 50px; }
           .invoice-body .invoice-table-body tbody .table-item-list .category-number {
            width: 30px;
            padding-left: 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px; 
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
           }
           .invoice-body .invoice-table-body tbody .table-item-list .category-item {
            width: 300px;
            padding-left: 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px; 
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
           }
           .invoice-body .invoice-table-body tbody .table-item-list .category-price {
            width: 160px;
            padding-left: 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px; 
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
           }
           .invoice-body .invoice-table-body tbody .table-item-list .category-quantity {
            width: 90px;
            padding-left: 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px; 
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
           }
           .invoice-body .invoice-table-body tbody .table-item-list .category-total {
            width: 110px;
            padding-right: 20px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            text-align: right; 
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
           }
             .invoice-body .invoice-table-body tbody .table-item-list .category-total span {
              font-weight: 600; }

             .invoice-body .invoice-table-footer {
                 border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;margin-bottom: 0;
             }
     .invoice-body .invoice-table-footer .footer-container {
      height: 50px; }

       .invoice-body .invoice-table-footer .footer-container .footer-detail-title {
            width: 850px ;    
            position: static;
            display: table-cell;
            float: none;
            color: #0076fe;
            font-size: 15px;
            font-weight: 600;
            text-align: right;
            padding-right: 20px;
            padding-top: 15px;     
            border-top: 0;
            
            line-height: 1.42857143; 
            vertical-align: top;}
       
       .invoice-body .invoice-table-footer .footer-container{border-top: solid whitesmoke 1px;}
       .invoice-body .invoice-table-footer .footer-container .footer-detail-summary {
           width: 150px;
           font-size: 15px;
           font-weight: 600;
           text-align: right;
           border-left: solid whitesmoke 1px;
           padding-right: 20px;
           padding-top: 15px;
           border-top: 0;
           
           line-height: 1.42857143;
           vertical-align: top;
           position: static;
           display: table-cell;
           float: none;

       }
      